@keyframes hello {
    0%, 100% {
        transform: rotate(-7deg);
    }

    50% {
        transform: rotate(7deg);
    }
}

.hello-slide img {
    animation: hello 5s infinite ease;
}

@media screen and (min-width: 768px) {
    .hello-slide img {
        width: 30% !important;
    }
}

.gallery-slide h1 {
    font-size: 5vh !important;
}

.gallery-slide .caption {
    font-size: 2.5vh;
    margin-top: 12px;
}

.tap-to-show {
    margin-top: 80px;
}

.countdown {
    margin-top: 15vh;
    font-size: 48px;
}
